-r requirements.txt

rpdb
tqdm
ipython
flake8
pylint
pep8
django-silk
pre-commit
pytest-cov
pytest-django
pytest-factoryboy
Faker
django>=4.2.16 # not directly required, pinned by Snyk to avoid a vulnerability
