-r requirements.txt

rpdb
tqdm
ipython
flake8
pylint
pep8
django-silk
pre-commit
pytest-cov
pytest-django
pytest-factoryboy
Faker
sqlparse>=0.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
